<h1> New Waste Item </h1>


<%= form_with scope: :item, url: items_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
    <%= form.label :material_id %><br>
    <%= form.select :material_id, Material.all.collect {|p| [p.name, p.id]} %>
  </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>