
<p>
<strong>"Your Trash's Name:"</strong>
<%= @item.name %>
</p>
<p>
<strong>Other names for it:</strong>
<% @item.onames.each do |oname| %>
    <%= oname.name %>,
<%end%>
</p>

<%= form_with(model: [ @item, @item.onames.build ], local: true) do |form| %>
  <p>
    <%= form.label 'Add another name:' %><br>
    <%= form.text_field :name %>
  </p>
    <%= form.submit %>
  </p>
<% end %>

<% if @item.material %>
<p>
<strong>Material of your trash:</strong> <%= @item.material.name %>, <strong> You should throw it in </strong> <%= @item.container.name %>

</p>

<%end%>
<p>
<%= link_to 'Back', controller:'items' %>
</p>
<p>
<%= link_to 'Delete',  item_path, method: :delete, data: {confirm: 'Are ya sure?'}%>
</p>
