<h1> New Waste Material </h1>


<%= form_with scope: :material, url: materials_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    
    <p>
    <%= form.label :container_id %><br>
    <%= form.text_field :container_id %>
  </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>